[Unit]
Description=Load Balancer
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill load-balancer1
ExecStartPre=-/usr/bin/docker rm load-balancer1
ExecStartPre=/usr/bin/docker pull tclark/assn1-load-balancer
ExecStart=/usr/bin/docker run --rm --name load-balancer1 -p 80:80 tclark/assn1-load-balancer
ExecStop=/usr/bin/docker stop web-server-container1

[X-Fleet]
Conflicts=web-server-container@*.service